<h2><%= t(:edit_issue_status) %></h2>
<div class="row">
  <div class="span9" id="content">
    <div id="content-block">
      <%= form_for([:admin, @issue_status]) do |f| %>

          <div class="control-group">
            <%= f.label :name, class:'control-label' %>
            <div class="controls">
              <%= f.text_field :name %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :closed, class:'control-label' %>
            <div class="controls">
              <%= f.check_box :closed %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :default_value, class:'control-label' %>
            <div class="controls">
              <%= f.check_box :default_value %>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <%= f.submit 'Сохранить' %>
            </div>
          </div>

      <% end %>
    </div>
  </div>

  <div class="span3">
    <%= render partial: 'admin/shared/admin_menu' %>
  </div>

</div>