<tr>
  <td><%= tracker_list.name %></td>
  <td>
    <%= link_to admin_tracker_path(tracker_list), method: :delete, confirm: t(:confirm) do %>
        <i class="icon-trash"></i> <%= t(:delete) %>
    <% end %>
    |
    <%= link_to edit_admin_tracker_path(tracker_list) do %>
        <i class="icon-edit"></i> <%= t(:edit) %>
    <% end %>
  </td>
</tr>