<h2><%= t(:new_user) %></h2>
<div class="row">
  <div class="span9" id="content">
    <div id="content-block">
      <%= form_for([:admin, @user]) do |f| %>

          <div class="control-group">
            <%= f.label :name, class:'control-label' %>
            <div class="controls">
              <%= f.text_field :name %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :email, class:'control-label' %>
            <div class="controls">
              <%= f.text_field :email %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :is_admin, class:'control-label' %>
            <div class="controls">
              <%= f.check_box :is_admin %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :role, class:'control-label' %>
            <div class="controls">
              <%= f.select :role_id, @roles.pluck(:name, :id) %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :password, class:'control-label' %>
            <div class="controls">
              <%= f.password_field :password %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :confirmation, class:'control-label' %>
            <div class="controls">
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <%= f.submit 'Сохранить' %>
            </div>
          </div>

      <% end %>
    </div>
  </div>

  <div class="span3">
    <%= render partial: 'admin/shared/admin_menu' %>
  </div>

</div>